<a href="https://colab.research.google.com/github/yashyaks/compute_tasks/blob/main/Lab1(Linear_Regression_with_scikitlearn).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/yashyaks/compute_tasks/main/Housing.csv")

In [3]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [7]:
# apply label encoding

# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels.
df['mainroad']= label_encoder.fit_transform(df['mainroad'])
print(df['mainroad'].unique())

df['guestroom']= label_encoder.fit_transform(df['guestroom'])
print(df['guestroom'].unique())

df['basement']= label_encoder.fit_transform(df['basement'])
print(df['basement'].unique())

df['hotwaterheating']= label_encoder.fit_transform(df['hotwaterheating'])
print(df['hotwaterheating'].unique())

df['airconditioning']= label_encoder.fit_transform(df['airconditioning'])
print(df['airconditioning'].unique())

df['prefarea']= label_encoder.fit_transform(df['prefarea'])
print(df['prefarea'].unique())

df['furnishingstatus']= label_encoder.fit_transform(df['furnishingstatus'])
print(df['furnishingstatus'].unique())

df.head()

[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[1 0]
[0 1 2]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0

In [9]:
from sklearn.model_selection import train_test_split

x = df.drop("price",axis=1)
y = df.price
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 101)


print(f'Total # of sample in whole dataset: {len(x)}')
print("*****"*10)
print(f'Total # of sample in train dataset: {len(x_train)}')
print(f'Shape of x_train: {x_train.shape}')
print("*****"*10)
print(f'Total # of sample in test dataset: {len(x_test)}')
print(f'Shape of x_test: {x_test.shape}')

Total # of sample in whole dataset: 545
**************************************************
Total # of sample in train dataset: 363
Shape of x_train: (363, 12)
**************************************************
Total # of sample in test dataset: 182
Shape of x_test: (182, 12)

In [10]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred = regressor.predict(x_test)

In [12]:
import sklearn.metrics as skm

MAE = skm.mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:",MAE)

MSE = skm.mean_squared_error(y_test, y_pred)
print("Mean Squared Error: ",MSE)

RMSE = np.sqrt(skm.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error:",RMSE)

R2 = skm.r2_score(y_test, y_pred)
print("R^2: ",R2)

n=x_test.shape[0]
p=x_test.shape[1] - 1   # subtract 1 coz test.shape also includes attribute we have to predict

adj_R2 = 1 - (1 - R2) * ((n - 1)/(n-p-1))
print('Adjusted R Squared: ',adj_R2)

Mean Absolute Error: 784668.8345789767
Mean Squared Error:  1171294218683.787
Root Mean Squared Error: 1082263.470086553
R^2:  0.6341594739218847
Adjusted R Squared:  0.6104874398815361

In [16]:
results = [MSE, RMSE, MAE, R2, adj_R2]
metrics = ['MSE', 'RMSE', 'MAE', 'r2', 'adj_r2']

table_results = pd.DataFrame({'Metric': metrics, 'Score': results})
table_results

   Metric         Score
0     MSE  1.171294e+12
1    RMSE  1.082263e+06
2     MAE  7.846688e+05
3      r2  6.341595e-01
4  adj_r2  6.104874e-01