Dataset Link: 
https://drive.google.com/file/d/1DLjBn6uLiCT6Cg8TtR87cK-lYwaOQr6F/view?usp=sharing

Dataset column information:



![image.png]()

## Q1 Import the libraries and dataset

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
df=pd.read_csv('Data.csv')
df

         AT      V       AP     RH      PE
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [42]:
df.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [43]:
x = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values
y = y.reshape(-1, 1)

## Q2 Feature Scaling

In [44]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
x = sc_x.fit_transform(X)
y = sc_y.fit_transform(y)

## Q3 Split the dataset into the Training set and Test set

In [45]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

## Q4 Implement SVR

In [54]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score

### 4a RBF Kernel

In [51]:
regressor = SVR(kernel = 'rbf')

In [52]:
regressor.fit(x_train, y_train)

C:\Users\Yash Thakar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [53]:
y_pred = regressor.predict(x_test)

In [55]:
r2_score(y_test, y_pred)

0.8474812664571802

### 4b Linear Kernel

In [57]:
regressor = SVR(kernel = 'linear')

In [58]:
regressor.fit(x_train, y_train)

C:\Users\Yash Thakar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='linear')

In [59]:
y_pred = regressor.predict(x_test)

In [60]:
r2_score(y_test, y_pred)

0.8012980819963987

### 4c Polynomial Kernel

In [61]:
regressor = SVR(kernel = 'poly')

In [62]:
regressor.fit(x_train, y_train)

C:\Users\Yash Thakar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='poly')

In [63]:
y_pred = regressor.predict(x_test)

In [64]:
r2_score(y_test, y_pred)

0.6280340484836571

### 4d Sigmoid Kernel

In [65]:
regressor = SVR(kernel = 'sigmoid')

In [66]:
regressor.fit(x_train, y_train)

C:\Users\Yash Thakar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='sigmoid')

In [67]:
y_pred = regressor.predict(x_test)

In [69]:
r2_score(y_test, y_pred)

-24123.78819444149

how did that happen????