<a href="https://colab.research.google.com/github/yashyaks/compute_tasks/blob/main/Task_6/Boosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boosting task

Make a copy of this colab file and follow the instructions to complete the task. You are expected to complete the entire task and it would be appreciated if you did more than what is aksed from you.

ALL THE BEST!

Importing necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
import xgboost as xgb


colour = sns.color_palette()

Reading and converting data into a date-time format

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/yashyaks/compute_tasks/main/Task_6/AEP_hourly.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121273 entries, 0 to 121272
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  121273 non-null  object
 1   AEP_MW    121273 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.9+ MB

In [7]:
df = df.set_index('Datetime')
df.index = pd.to_datetime(df.index)
df

                      AEP_MW
Datetime
2004-12-31 01:00:00  13478.0
2004-12-31 02:00:00  12865.0
2004-12-31 03:00:00  12577.0
2004-12-31 04:00:00  12517.0
2004-12-31 05:00:00  12670.0
...                      ...
2018-01-01 20:00:00  21089.0
2018-01-01 21:00:00  20999.0
2018-01-01 22:00:00  20820.0
2018-01-01 23:00:00  20415.0
2018-01-02 00:00:00  19993.0

[121273 rows x 1 columns]

Warning: total number of rows (121273) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (121273) exceeds max_rows (20000). Limiting to first (20000) rows.

Plot the data:

In [9]:
plt.figure(figsize=(11,7))
plt.plot(df['Datetime'],df['AEP_MW'])
plt.xlabel('Year')
plt.ylabel('AEP_MW')
plt.show()

KeyError: ignored

## Data splitting

Split the data into training and testing data, split data at 01-01-2016

plot the train and test data

Plot data for a random week AND day, to visualize weekly and daily variations in data

## Feature Creation

Create different features for: hour, day, month, year, week and append it to the data-frame

Make boxplots to depict energy consumption hourly and monthly.(x variable would be hour and month and y variable would be the feature 'AEP_MW'

## Model Creation andEestimation

Run a regression XGBoost model on the training and testing data-set. Take 1000 estimators and learnning rate as 0.01

Predict values for the testing set using the model and plot them

Use RMSE to find out the accuracy of your model

Find the importance of each feature use