<a href="https://colab.research.google.com/github/yashyaks/compute_tasks/blob/main/Lab_7/Adaboost_7.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/sample_data/creditcard.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
df['Class'].unique()

array([0, 1])

In [ ]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
df.duplicated().unique()

array([False,  True])

In [ ]:
df1 = df

In [ ]:
df1.drop_duplicates(inplace = True)

df1.duplicated().unique()

array([False])

In [ ]:
df1['Class'].value_counts()

0    283253
1       473
Name: Class, dtype: int64

In [ ]:
X = df1.drop('Class',axis = 1)
y = df1['Class']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Accuracy = 0.9992128574449588

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

abc = AdaBoostClassifier(estimator = clf)

abc.fit(X_train, y_train)

y_pred = abc.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Accuracy = 0.9991658638595832

# Question 3

In [ ]:
#1
from sklearn.model_selection import KFold, cross_val_score

clf = DecisionTreeClassifier(random_state=42)

from sklearn.ensemble import AdaBoostClassifier

abc = AdaBoostClassifier(estimator = clf)

k_folds = KFold(n_splits = 5)

scores = cross_val_score(abc, X, y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [0.99596447 0.99929509 0.99887215 0.99901313 0.99917173]
Average CV Score:  0.9984633149547157
Number of CV Scores used in Average:  5

In [ ]:
#2
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
depth = [2,3,4,5,6,7]

l_rate = [0.1,0.5,0.01,0.05]

for i in l_rate:

  clf = DecisionTreeClassifier(random_state=42)

  abc = AdaBoostClassifier(estimator = clf, learning_rate = i)
  
  abc.fit(X_train, y_train)

  y_pred = abc.predict(X_test)
  
  print(f"\nLearning Rate:{i}")
  print(f"Accuracy = {accuracy_score(y_test,y_pred)}")


for i in depth:
  
  clf = DecisionTreeClassifier(max_depth = i, random_state=42)

  abc = AdaBoostClassifier(estimator = clf)
  
  abc.fit(X_train, y_train)

  y_pred = abc.predict(X_test)
  
  print(f"\nMax Depth:{i}")
  print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Learning Rate:0.1
Accuracy = 0.9991071218778637

Learning Rate:0.5
Accuracy = 0.9990483798961441

Learning Rate:0.01
Accuracy = 0.999177612255927

Learning Rate:0.05
Accuracy = 0.999071876688832

Max Depth:2
Accuracy = 0.9994830705608685

Max Depth:3
Accuracy = 0.999530064146244

Max Depth:4
Accuracy = 0.999530064146244

Max Depth:5
Accuracy = 0.9995418125425879

Max Depth:6
Accuracy = 0.9995535609389319

Max Depth:7
Accuracy = 0.999530064146244

In [ ]:
parameter = {
    'max_depth':[2,3,4,5,7]
}

clf = DecisionTreeClassifier()


from sklearn.model_selection import GridSearchCV

grid_search_DT = GridSearchCV(clf, param_grid = parameter, scoring = 'accuracy')

grid_search_DT.fit(X_train,y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [2, 3, 4, 5, 7]}, scoring='accuracy')

In [ ]:
grid_search_DT.best_params_

{'max_depth': 7}

In [ ]:
clf = DecisionTreeClassifier(max_depth = 7)
abc = AdaBoostClassifier(estimator = clf, learning_rate = 0.01)

abc.fit(X_train, y_train)

y_pred = abc.predict(X_test)

print(f"\nMax Depth:{7} Learning Rate:{0.01}")
print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Max Depth:7 Learning Rate:0.01
Accuracy = 0.9995065673535563